.container {
    position: sticky;
    text-align: center;
    top: 100px;
    left: 20%;
    border: 10px solid #a2c4db;
    padding: 20px;
    width: 250px;
    height: 250px;
    background-color: #63a1ed;
    color: white;
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.2em;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

#add, #sub, #mul, #dvd {
    width: 40px;
    height: 40px;
}

.calc {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 5px 2px 5px 5px;
}

.userinputs, .displayresult {
    align-items: center;
    display: inline-block;
    padding-top: 10px;
    width: 90%;
}

#num1, #num2, #output {
    border-radius: 3px;
    padding: 10px 5px 5px 5px;
    height: 15px;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
}

.ops {
    background-color: #7f8b93;
    border-radius: 5px;
}

#output {
    background-color: #a2c4db;
    color: #03034f;
}

.buttons {
    display: inline-block;
    align-items: center;
    width: 90%;

}

.ops:active {
    background-color: #233a29;
}
